/*
 Shamelessly stolen from "Here, There, and Everywhere",
 including but not limited to "bootstrap", "stack overflow", 
 "Mike Dane", "w3schools", et al.
 */

.bg-white {
  background-color: white;
}

.container {
  max-width:    70%;
  margin:       0 auto;
  font-size:    1.1em;
  font-family:  Monospace;
  text-align:   justify;
}

.container a {
  color: black;
}

.container a:hover {
  background-color: #D0D0D0;
}

.row {
	display: flex;
}

.column {
  display: 				flex;
	flex-direction: column;
}

.navbar {
  background-color: lavender;
  color:            0;
  font-size:        20px;
}

.navbar ul li {
  display:        inline-block;
  padding:        1px;
  padding-top:    10px;
  padding-bottom: 10px;
}

.navbar ul li a {
  text-decoration: none;
	cursor: 				 pointer;
}

.main-header {
	background-color: cyan;
	font-size: 1.5em;
}

.main-section {
}

@media screen and (max-width:768px) {
  ul {
    margin: 0;
    padding: 0;
  }
  #navbar ul li {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  #navbar ul li a {
    margin: 0;
    padding: 0;
  }
  #menu {
    display: none;
  }
  #maincontent {
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 1em;
  }
}

/*
 ************************************************************
 */
